html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  position: absolute;
  overflow: hidden;
  cursor:url(cursor.png), auto;
	perspective: 500px;
}

@font-face {
  font-family: 'loudbeats';
  src: url(LoudBeats.ttf) format('truetype');
}

.sidebar{
  position: relative;
  height:1000000000000px;
  width: 150px;
  background-image:url(square.png);
  
}
.topbar{
  position: absolute;
  height: 150px;
  width: 1000000000000px;
  background-image:url(square.png);
  background-color: rgba(60, 69, 62,.5);
  background-blend-mode: multiply;
  top: 0px;
}
a{
  color:black;
}
span {
  top:25%;
  position: relative;
  z-index: 875974;
  font-family: loudbeats;
  font-size: 100px;
  display:inline-block;
  transform: translateX(50%);
  cursor: url(cursor_for_links.png), auto;
}
a{
  color:black;
}
#image{
  background: url(favicon.png) no-repeat;
  top: 0;  
  left: -100px;
  height: 80%;
  width: auto;
  position: absolute;
}
*{margin:0;}
body{ font: 200 16px/1; font-family:loudbeats; }
img{ width:32.2%; }

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}
.embed{
  position:absolute;
  width:250px;
  height:125px;
  transform: translate(250%, 10%);
  border: none;
}